@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Домашняя страница</h1>
    <p style="text-align:left; margin-top:30px">Зарегестрируйте учетную запись бесплатно и получите возможность добавлять новых участников исследования. </p>
    <p style="text-align:left;">Ваши участники смогут отправлять формы, войдя по номеру телефона в своем мобильном приложении. Вам будут доступны все их посылки и аналитика по ним.</p>
</div>
